@font-face {
    font-family: "raleway";
    src: url("fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "raleway-bold";
    src: url("fonts/Raleway-Bold.ttf") format("truetype");
}


html{
    --rouge : #c80000;
    --gris-foncé : #666;
    --gris-clair : #ccc;
    --blanc : #fff;

    --product-margin-bottom:1vh;
}

body{
    font-family: "raleway";
}


/********/
/*HEADER*/
/********/
.header{
    display:flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 90%;
}

.headerup{
    background-color: var(--rouge);
    color: var(--blanc);
    display: flex;
    align-items: flex-end;
    padding: 1.25%;
}

.hdrutitle{
    font-family: "raleway-bold";
    font-size: 150%;
}

.hdrusubtitle{
    font-family: "raleway-bold";
    font-size: 90%;
    padding-left: 0.5%;
}


.headerdown{
    background-color: var(--gris-foncé);
    color: var(--blanc);
    text-align: center;
    padding:1.10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.brand{
    font-style: italic;
    font-size: 115%;
}


/******/
/*MAIN*/
/******/

.productlist{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    padding: 2% 6% 2% 6%;

    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 6%;

    overflow-y: auto;
}

.product{
    border: 1px solid var(--gris-clair);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
    padding-left: var(--product-margin-bottom);
    padding-right: var(--product-margin-bottom);
    padding-bottom: var(--product-margin-bottom);

}

.productimage{
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.producttheme{
    color: var(--gris-clair);
    font-weight: bold;
    border-bottom: 1px solid var(--gris-clair);
    width: 94%;
}

.productname{
    font-family: "raleway-bold";
    font-size: 140%;
    padding: 2% 0% 2% 0%;
    width: 94%;
}

.producttext{
    width: 94%;
}
.button{
    background-color: var(--rouge);
    color: var(--blanc);
    padding: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 94%;
}

.basket{
    font-size: 0.8em;
}

.barredprice{
    font-size: 0.8em;
    text-decoration: line-through;
}


.promoprice{
    font-family: "raleway-bold";
}




/********/
/*FOOTER*/
/********/


.footer{
    background-color: var(--gris-foncé);
    text-align: center;
    color: white;
    padding:1.10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    top: 94%;
    left: 0;
    right: 0;
    bottom: 0;
}

/********************/
/*RESPONSIVE DESGIN*/
/******************/

/*TABLETTE*/

/*PORTRAIT*/

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .productlist{
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;

        position: inherit;

        margin-top: 15%;
        margin-bottom: 8%;
    }

    .headerup{
        justify-content: center;
        padding: 3.40%;
    }

    .headerdown{
        padding: 1.20%;
    }

    .product{
        width: auto;
    }

    .header{
        width: 100%;
    }

    .footer{
        align-content: center;
    }
}



/*SMARTPHONE*/ 

/*PORTRAIT*/

@media screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : portrait) {
    .productlist{
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;

        position: inherit;

        margin-top: 20%;
        margin-bottom: 8%;
    }

    .headerup{
        justify-content: center;
        padding: 3.40%;
    }

    .headerdown{
        padding: 1.20%;
    }

    .product{
        width: auto;
    }

    .header{
        width: 100%;
    }

    .footer{
        align-content: center;
        font-size: small;
        top: 96%;
    }
}


@media screen and (min-device-width : 280px) and (max-device-width : 319px) and (orientation : portrait) {
    .productlist{
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;

        position: inherit;

        margin-top: 30%;
        margin-bottom: 8%;
    }

    .headerup{
        justify-content: center;
        padding: 3.40%;
    }

    .headerdown{
        padding: 1.20%;
    }

    .product{
        width: auto;
    }

    .header{
        width: 100%;
    }

    .footer{
        align-content: center;
        font-size: smaller;
        top: 96%;
    }
}